.Congratulations-div {
    position: absolute;
    top: 1rem;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: rgb(215, 176, 210);
    display: none;
}

.show-congrats {
    display: block;
}